<div class="yellow-background py-3" style="min-height: 500px; background-size: cover; background-repeat: no-repeat; background-image: url('https://github.com/beydafc/bey_imgs/blob/main/homie_plans&friends_user_index.png?raw=true')">
  <div class="container my-4 pb-3" style="background-color: rgba(0, 0, 0, 0.05); border-radius: 10px;">
    <h2>Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
          <%= f.association :state, collection: State.all,
                    required: true,
                    hint: "Required" %>
          <%= f.input :first_name, required: true%>
          <%= f.input :last_name, required: true%>
          <%= f.input :photo, as: :file, required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-blue px-3 py-2 fs-6" %> <br>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
