<h2>Messages with <%= @chatroom.participants.where.not(user: current_user)[0].user.first_name %></h2>

<div class="container">
  <div class="container chatroom" data-controller="chatroom-subscriptions"
    data-chatroom-subscriptions-chatroom-id-value="<%= @chatroom.id %>">
    <div class="messages" data-chatroom-subscriptions-target="messages">
      <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        </div>
      <% end %>
    </div>


  <%= simple_form_for [@chatroom, @message],
    html: {class: "d-flex"} do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.participants.where.not(user: current_user)[0].user.first_name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
