<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= url_for @state.photo%>');">
  <div class="container, d-flex" >
    <div class="ml-5" >
      <div class="mt-2">
        <div class="container,d-flex, mx-5, px-5" >
          <%= form_with url: states_path, method: :get do %>
          <%= text_field_tag :query, nil, class: "form-control", placeholder: @state.name %>
         <!-- <h3 class="text-warning">Enter your city name and press enter!</h3> -->
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div>
<%= form_with url: states_path, method: :get do %>
<h3 class= "text-warning"><%= @state.name %></h3>
  <ul class="list-group list-group-flush" >
    <li class="list-group-item"><strong>Capital: </strong><%= @state.capital %></li>
    <li class="list-group-item"><strong>Poblacion:  </strong><%= @state.population %></li>
    <li class="list-group-item"><strong>Costo de vida: </strong><%= @state.life_cost %></li>
    <li class="list-group-item"><strong>Clima: </strong><%= @state.weather %></li>
    <li class="list-group-item"><strong>Contacto Gobierno: </strong><%= @state.contact_number %></li>
  </ul>
<% end %>
</div>
<!-- Inicio mapa-->
  <div style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <!--Termino mapa-->
