<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= url_for @state.photo%>');">
  <div class="container, d-flex" >
    <div class="ml-5" >
      <div class="mt-2">
        <div class="container,d-flex, mx-5, px-5" >
          <%= render "states/dropdown"%>
        </div>
        <div class="container,d-flex, mx-5 my-3">
          <%= link_to "#{@state.name} stores", stores_path(query: @state.name), class: "btn btn-blue" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 p-3 mb-5">
  <h4 class="text-warning ms-5 ps-5 mb-4"><strong><%= @state.name %></strong></h4>
  <table class="table text-align-center" style="width: 90%; margin: 0 auto;">
    <tbody>
        <tr>
          <th scope="row"><i class="fa-solid fa-location-dot" style="font-size: 20px;"></i></th>
          <td>Capital</td>
          <td class="text-secondary"><%= @state.capital %></td>
          <td>
        </tr>
        <tr>
          <th scope="row"><i class="fa-solid fa-person" style="font-size: 20px;"></i></th>
          <td>Population</td>
          <td class="text-secondary"><%= @state.population %> millions</td>
          <td>
        </tr>
        <tr>
          <th scope="row"><i class="fa-solid fa-sack-dollar" style="font-size: 20px;"></i></th>
          <td>Life cost</td>
          <td class="text-secondary">$<%= @state.life_cost %> MXN +</td>
          <td>
        </tr>
        <tr>
          <th scope="row"><i class="fa-solid fa-cloud" style="font-size: 20px;"></i></th>
          <td>Weather</td>
          <td class="text-secondary"><%= @state.weather %></td>
          <td>
        </tr>
        <tr>
          <th scope="row"><i class="fa-solid fa-phone" style="font-size: 20px;"></i></th>
          <td>Contact</td>
          <td class="text-secondary"><%= @state.contact_number %></td>
          <td>
        </tr>
    </tbody>
</table>
</div>
<!-- Inicio mapa-->
  <div style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <!--Termino mapa-->
