<!--
<div class="footer">
  <div class="footer-links d-flex justify-content-center pt-2 fs-5">
    <a href="#"><i class="fab fa-github pe-2"></i></a>
    <a href="#"><i class="fab fa-instagram pe-2"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="fs-6 footer-copyright pt-3 d-flex justify-content-center text-center">
    <h6>HOMIE is made with <i class="fas fa-heart text-danger"></i> at Le Wagon. <br>Beyda, Victoria & Luis Camilo<br></h6>
  </div>
</div>
*******************************************            END FOOOTER        -->
<!-- Site footer -->
<footer class="footer-distributed">
  <div class="footer-right">
    <a href="https://github.com/beydafc/homie"><i class="fab fa-github pe-2"></i></a>
    <a href="https://github.com/beydafc/homie"><i class="fab fa-instagram pe-2"></i></a>
    <a href="https://github.com/beydafc/homie"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-left">
    <p class="footer-links">
      <a href="<%= root_path%>">Home</a>
      <a href="<%= likes_path %>">My Promos</a>
      <a href="<%= users_path %>">Plans & Friends</a>
      <a href="<%= stores_path %>">Stores & Promos</a>
      <a href="<%= states_path %>">City Data</a>
    </p>
    <p>HOMIE &copy; 2024</p>
  </div>
  <div class="fs-6 footer-copyright pt-1 d-flex justify-content-center text-center">
    <h6>HOMIE is made with <i class="fas fa-heart text-danger"></i> at Le Wagon. <br>Beyda, Victoria & Luis Camilo<br></h6>
  </div>
  <div style="width: 40px; margin: 0 auto;">
    <img src="/assets/logo_orange-1915b7e0e9f6691065c34fa918b962acb4def6af12845de3829d01a16bd7c18f.png" alt="">
  </div>
</footer>
