<!DOCTYPE html>
<html>
  <head>
    <title>Homie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- app/views/layouts/application.html.erb -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <!-- fontawesome AQUÍ -->
    <!-- googlefonts AQUÍ -->
    <link rel="icon" href="/assets/logo_orange-1915b7e0e9f6691065c34fa918b962acb4def6af12845de3829d01a16bd7c18f.png">

    <!-- link star reviews AQUÍ -->
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">

  </head>

  <body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

  <%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div>
    <%= render "shared/footer"%>
  </div>
  </body>
</html>
